@import '../../scss/variables.scss';

.editFeedbackContainer{
    .editFeedback{
        margin-top: 4.25rem;
        padding: 2.5rem 2.62rem;

        > svg{
            position: relative;
            top:-4.2rem;
        }

        h1{
            margin-bottom: 2.5rem;
        }

        .actions{
            margin-top: 2rem;
            display: flex;
            justify-content: flex-end;
            gap:1rem;
            
            button:first-of-type{
                width:5.8125rem;
                margin-right: auto;
            }
            button:nth-of-type(2){
                width: 5.8125rem;
            }
            button:last-of-type{
                width: 9rem;
            }
        }
    }
}