@import '../../../scss/variables.scss';

.hamburguer{
    display: none;
}

@media screen and (max-width:$mobile-width-double) {
    .hamburguer{
        display: block;
        position: fixed;
        top: 1.69rem;
        right: 1.5rem;
        z-index: 3;
    }
}
