@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes stretchIn {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}


@keyframes fadeInAndUp {
  from {
    opacity: 0;
    y:20px;
  }
  to {
    opacity: 1;
    y:0;
  }
}