@import '../../scss/variables.scss';

.feedbackComment {
    padding: 1.75rem 0 2rem 0;

    .container {

        display: flex;

        >div:first-child {
            img {
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 2.5rem;
                margin-right: 2rem;
            }
        }

        >.commentContain {
            width: 100%;

            >div {
                width: 100%;
                position: relative;
                margin-bottom: 1.06rem;
            }

            button {
                position: absolute;
                right: 0;
                top: 0;
                background: transparent;
                border: 0;
                color: #4661E6;
                font-size: 0.8125rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                cursor: pointer;

                &:hover {
                    text-decoration-line: underline;
                }
            }

            p {
                color: #647196;
            }

            .replyingTo {
                color: #AD1FEA;
                font-weight: 700;
            }
        }
    }


}


.feedbackDetailContainer {
    max-width: 45.625rem;
    margin: 0 auto;

    flex-direction: column;
    @media screen and (max-width:$tablet-width) {
        margin: 3.5rem 0;
        padding: 0 3rem;
    }
    >div:first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;
    }

   
}

.comments {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1.5rem 2rem;
}

.addComment {
    margin-top: 1.5rem;
    padding: 1.5rem 2rem;

    >form>div {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width:610px) {
            flex-direction: column;
            gap: 1rem;
            button{
                width: 100%!important;
                max-width: none;
            }
        }
    }
}

.repliesContainer {
    display: flex;
    overflow: hidden;

    .leftSide {
        min-width: 2.8rem;
        display: flex;
        justify-content: center;

        span {
            display: inline-block;
            width: 0.0625rem;
            height: 70%;
            background: rgba(100, 113, 150, .1);
            position: absolute;
            top: 5.8rem;
        }

        div {
            background: white;
            width: 100%;
            z-index: 1;
            position: relative;
            display: flex;
            align-self: flex-end;
        }
    }

    .rightSide {
        width: 100%;

        >div {
            border: 0;
        }
    }

}

.feedbackCommentContainer {
    position: relative;
}

.borderBottom {
    border-bottom: 0.0625rem rgba(140, 146, 179, 0.25) solid;
}

.replyComment {
    >form{
        display: flex;
        gap: 1rem;
        margin-left: 4.5rem;    
    }
    div:last-child{
        margin-top: 1rem;
        margin-left: 4.5rem;   
    }
   
    button {
        max-width: 7.3125rem;
        margin-top: 1.5rem;
    }
}